/logs/
/reports/
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
*.egg
*.egg-info/
dist/
build/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/
*.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# VS Code and other IDE project settings
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Logs and databases
*.log
*.sql
*.sqlite

# AWS Credentials
*.pem

# Selenium WebDriver logs
geckodriver.log
chromedriver.log

# Environment variables
.env
.env.*

# Project-specific
core/logs/
**/tests/screenshots/